@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Cambiar el color del scrollbar y del thumb */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #207eff; /* Color del thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del área del scroll */
}

body {
  margin: 0px;
  font-family: "Exo", sans-serif;
}

.modal-body .input-group {
  margin-bottom: 14px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
.image a {
  width: 100%;
  height: 100%;
}
.image a img {
  width: 100%;
  height: 100%;
}

.button {
  margin-top: 15px;
  --font-color: #323232;
  --bg-color: #fff;
  --main-color: #323232;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgb(75, 85, 99);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgb(75, 85, 99);
}

.custum-file-upload input {
  width: 100%;
  height: 100%;
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

#vistaPrevia {
  width: 250px;
  height: 250px;
}
#vistaPrevia img {
  width: 100%;
  height: 100%;
}

#form .input-group {
  margin-bottom: 14px;
}

.main-contenedor {
  width: 80vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.main-contenedor #btn-formContacto {
  margin-top: 30px;
}
.main-contenedor .titulo {
  font-size: 30px;
  color: #207eff;
  font-weight: 700;
}
.main-contenedor .modal-body form .input-group {
  margin-bottom: 15px;
}
.main-contenedor .card-usuarios {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}
.main-contenedor .card {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}
.main-contenedor .card__img {
  height: 192px;
  width: 100%;
}
.main-contenedor .card__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.main-contenedor .card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}
.main-contenedor .card__avatar svg {
  width: 100px;
  height: 100px;
}
.main-contenedor .card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}
.main-contenedor .card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}
.main-contenedor .card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}
.main-contenedor .card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}
.main-contenedor .card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}
.main-contenedor .card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.notifications-container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  position: absolute;
  top: 20px;
  z-index: 1990;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240, 253, 244);
}

.succes-svg {
  color: rgb(74, 222, 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22, 101, 52);
}
.success-prompt-heading .success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21, 128, 61);
}
.success-prompt-heading .success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.success-prompt-heading .success-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ecfdf5;
  color: rgb(22, 101, 52);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
}
.success-prompt-heading .success-button-main:hover {
  background-color: #d1fae5;
}
.success-prompt-heading .success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.75rem;
  background-color: #ecfdf5;
  color: #065f46;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
}

.notifications-container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  position: absolute;
  top: 20px;
  z-index: 1900;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.error-alert {
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: rgb(254, 242, 242);
}

.error-svg {
  color: #f87171;
  width: 1.25rem;
  height: 1.25rem;
}

.error-prompt-heading {
  color: #991b1b;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.error-prompt-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.error-prompt-wrap {
  margin-top: 0.5rem;
  color: #b91c1c;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.error-prompt-list {
  padding-left: 1.25rem;
  margin-top: 0.25rem;
  list-style-type: disc;
}

/*# sourceMappingURL=usuarios.css.map */
