@import "variables.scss";

body {
  margin: 0px;
  font-family: "Exo", sans-serif;
}

// seccion de navegacion index.php
.panel-page-index {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  .header-page {
    width: 100%;
    height: 140px;
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    background-color: $color-header;
    .img-header-page {
      margin-left: 30px;
      width: 150px;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h1 {
      font-size: 28px;
      font-weight: 800;
      color: $color-primary;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      svg {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
  .body-page {
    width: 90%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    h2 {
      font-size: 18px;
      color: black;
      font-weight: 500;
    }
    .opciones-page {
      width: 100%;
      margin-top: 40px;
      height: auto;
      margin-bottom: 40px;
      display: flex;
      flex-flow: row wrap;
      // justify-content: center;
      align-items: center;
      gap: 20px;
      .enlace {
        width: 180px;
        height: 140px;
        border-radius: 5px;
        a {
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          gap: 10px;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        box-shadow: 4px 4px 8px 0px rgba(158, 158, 158, 0.129),
          -4px -4px 8px 0px rgba(129, 129, 129, 0.129);
        svg {
          color: $color-primary;
          width: 30px;
          height: 30px;
        }
        span {
          font-size: 14px;
          color: black;
        }
      }
    }
    .descripcion-manual {
      width: 75%;
      font-size: 13.5px;
      margin-top: 40px;
      line-height: 25px;
      @include compuMax {
        width: 50%;
      }
    }
    .enlace-manual {
      margin-bottom: 40px;
      text-decoration: none;
      margin-top: 30px;
      color: black;
      width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 40px;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: 4px 4px 8px 0px rgba(158, 158, 158, 0.129),
        -4px -4px 8px 0px rgba(129, 129, 129, 0.129);
      svg {
        width: 19px;
        height: 19px;
        color: $color-primary;
      }
    }
  }
}
