$color-primary: #207eff;
$color-input: #f6f6f6;
$color-header: #f4f4f4;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* Cambiar el color del scrollbar y del thumb */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary; /* Color del thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del área del scroll */
}
